<app-navbar></app-navbar>
<br>
<div class="container">
  <form class="row g-3" [formGroup]="registerForm">

    <div class="card text-center ">
      <div class="card-header">
        <h4 class="card-title" style="font-weight: bold;">REGISTRO DE CLIENTES</h4>
      </div>
      <div class="card-body">

        <div class="card-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Documento</span>
            <input type="number" class="form-control" placeholder="Digite sus Cedula" aria-label="Username"
              aria-describedby="basic-addon1" id="documento" formControlName="documento">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Nombres</span>
            <input type="text" class="form-control" placeholder="Digite sus Nombres" aria-label="Username"
              aria-describedby="basic-addon1" id="nombre" formControlName="nombre">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Apellidos</span>
            <input type="text" class="form-control" placeholder=" Digite sus Apellidos" aria-label="Username"
              aria-describedby="basic-addon1" id="lastname" formControlName="apellido">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Genero</span>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="genero">
              <option selected>Seleccionar Genero</option>
              <option value="MASCULINO">Masculino</option>
              <option value="FEMENINO">Femenino</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Tipo Persona</span>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="tipo">
              <option selected>Seleccionar Tipo Persona</option>
              <option value="CLIENTE">Cliente</option>
              <option value="VENDEDOR">Vendedor</option>
            </select>
          </div>
        </div>
        <div class="card-footer text-muted">
          <button type="button" class="btn btn-primary" (click)="CrearPersona(registerForm)"
            style="margin-right: 5px;">Crear Persona</button>
          <button type="button" class="btn btn-primary" (click)="ListarCLientes()">Mostrar Personas</button>
        </div>
      </div>
    </div>





    <br>
<!-- se llena la tabla con el comando ngFor-->
    <div class="card text-center ">
      <div class="card-header">
        <h4 class="card-title" style="font-weight: bold;">LISTADO DE CLIENTES</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Genero</th>
                <th scope="col">Tipo Persona</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let listClientes of ListaClientes, index as i ">
                <td>{{i + 1 }}</td>
                <td>{{listClientes.NOMBRE}}</td>
                <td>{{listClientes.APELLIDO}}</td>
                <td>{{listClientes.SEXO}}</td>
                <td>{{listClientes.TIPO}}</td>
                <td>
                  <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                    data-bs-dismiss="modal" (click)="SeleccionEliminarPersona(listClientes)">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-trash" viewBox="0 0 16 16">
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                      <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg></button>
                  /
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="SeleccionEditarPersona(listClientes)"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                      height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg></button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>




    <!-- Modal PARA LA MODIFICACION DE LOS DATOS DE LAS PERSONAS-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Documento</span>
              <input type="number" class="form-control" placeholder="Digite sus Cedula" aria-label="Username"
                aria-describedby="basic-addon1" id="documento" formControlName="editDocumento">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Nombres</span>
              <input type="text" class="form-control" placeholder="Digite sus Nombres" aria-label="Username"
                aria-describedby="basic-addon1" id="nombre" formControlName="editNombre">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Apellidos</span>
              <input type="text" class="form-control" placeholder=" Digite sus Apellidos" aria-label="Username"
                aria-describedby="basic-addon1" id="lastname" formControlName="editApellido">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Genero</span>
              <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                formControlName="editGenero">
                <option selected>Seleccionar Genero</option>
                <option value="MASCULINO">Masculino</option>
                <option value="FEMENINO">Femenino</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1" style="font-weight: bold;">Tipo Persona</span>
              <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                formControlName="editTipo">
                <option selected>Seleccionar Tipo Persona</option>
                <option value="CLIENTE">Cliente</option>
                <option value="VENDEDOR">Vendedor</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="ActualizarPersona(registerForm)">Understood</button>

          </div>
        </div>
      </div>
    </div>



    <!--  MODAL PARA ACEPTAR O DECLINAR LA ELIMINACION DE LA PERSONA-->
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
      tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalToggleLabel2">ELIMINAR LA PERSONA DE LA LISTA</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" name="" hidden="true" id="" formControlName="IdDocumento">
            <img src="assets/images/Interrogacion.png" width="50" height="50"> Está seguro que desea Eliminar a <strong>
              {{personaDel}}</strong> de la lista?
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" style="font-weight: bold;" (click)="EliminarPersona(registerForm)" data-bs-dismiss="modal">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
              </svg>
              SI
            </button>

            <button class="btn btn-danger" data-bs-dismiss="modal" style="font-weight: bold;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
              </svg>
              NO
            </button>
          </div>
        </div>
      </div>
    </div>



  </form>
</div>

